<div class="page-header">
  <%= link_to new_participator_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Participator
  <% end %>
  <h2>协同面试人（抄送人）</h2>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th class="text-center">Enabled</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th colspan='2' class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @participators) do |participator| %>
            <td><%= participator.enabled.humanize %></td>
            <td><%= participator.name %></td>
            <td><%= participator.email %></td>
        <td><%= link_to 'Edit', edit_participator_path(participator) %></td>
        <td><%= link_to 'Destroy', participator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
