<div class="page-header">
  <%= link_to new_participator_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Participator
  <% end %>
  <h1>Listing participators</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @participators) do |participator| %>
            <td><%= participator.name %></td>
            <td><%= participator.email %></td>
            <td><%= link_to 'Show', participator %></td>
        <td><%= link_to 'Edit', edit_participator_path(participator) %></td>
        <td><%= link_to 'Destroy', participator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
