<div class="page-header">
  <h2><%= @report.position %> <%= @report.interview_date %></h2>
  <%= link_to send_mail_report_path, :method => :post, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-envelope"></span>
    Send Report
  <% end %>
  <%= link_to reports_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_report_path(@report), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h2><%= @report.name%></h2>
</div>

<dl class="dl-horizontal">

  <dt>面试经过</dt>
  <dd><%= simple_format(@report.detail.html_safe) %></dd>

  <dt>面试评价</dt>
  <dd><%= @report.comments %></dd>

  <dt>候选人评价</dt>
  <dd><%= @report.evaluation %></dd>

  <dt>面试结论</dt>
  <dd><%= @report.conclusion %></dd>

  <dt>简历查看</dt>
  <!--<dd><%= link_to @report.resume.file.filename, @report.resume.url %></dd>-->
  <dd><%= link_to @report.name + '_' + @report.position + '_简历', @report.resume.url %></dd>

</dl>


